#!/usr/bin/make -f

UPSTREAM_GIT = git://github.com/gabrielfalcao/couleur.git
include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --buildsystem=python_distutils --with python2

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	FORCE_COULEUR=1 nosetests --verbosity=2
endif
